/*
 * GRID
 */

.container {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
}

.row {
  margin-left: $gutter * -1;
  margin-right: $gutter * -1;
  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

[class^='col-'] {
  float: left;
  width: 100%;
  padding-left: $gutter;
  padding-right: $gutter;
}

@for $i from 1 through $columns {
  .col-#{$i} {
    max-width: 100% / $columns * $i;
  }
}

@media all and (max-width: 1200px) {
  .container {
    max-width: 840px;
    padding: 0 15px;
  }
}

@media all and (max-width: 768px) {
  .col-4 {
    max-width: 50%;
  }
}

@media all and (max-width: 450px) {
  .col-4 {
    max-width: 100%;
  }
}
