* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: $font;
}

html {
  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

//#app {
//  overflow: hidden;
//}
