/*
 * FILTERS & SORTING
 */
aside.navigation-toolbar {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  section {
    width: 320px;
    background-color: white;
    border-radius: 4px;
    padding: 10px 15px;
    position: relative;
    transition: .3s;
    &.open {
      border-radius: 4px 4px 0 0;
      transition: .3s;
      ul {
        visibility: visible;
        opacity: 1;
        border-top: 1px dashed rgba(0, 0, 0, 0.11);
        transition: .3s;
      }
    }
    div.active {
      padding: 10px 0;
      font-size: 14px;
      line-height: 16px;
      position: relative;
      cursor: pointer;
      span {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 11px;
      }
      &::after {
        height: 6px;
        width: 6px;
        content: '';
        position: absolute;
        right: 0;
        background-color: #141E30;
        border-radius: 3px;
        top: calc(50% - 3px);
      }
    }
  }
  ul {
    padding: 10px 15px;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 5;
    background-color: white;
    width: 100%;
    border-radius: 0 0 4px 4px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    li {
      font-size: 14px;
      line-height: 20px;
      opacity: .6;
      cursor: pointer;
      transition: .3s;
      &.active{
        opacity: 1;
      }
      &:hover {
        opacity: 8;
        transition: .3s;
      }
    }
  }
  @media all and (max-width: 768px) {
    display: block;
    section {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
