/*
 * NBA ITEM
 */

.nba-item {
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 6px;
  h6 {
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 22px;
    font-weight: 400;
  }
  p {
    font-size: 12px;
    opacity: 0.7;
    padding-top: 5px;
  }
  .image {
    position: relative;
    .thumbnail {
      width: 100%;
    }
    .video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      .icon-play {
        height: 80px;
        width: 80px;
        border: 2px solid white;
        border-radius: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        span {
          position: relative;
          left: 4px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 15px 0 15px 30px;
          border-color: transparent transparent transparent white;
          transition: .3s;
        }
      }
      &:hover {
        .icon-play {
          background-color: white;
          transition: .3s;
        }
        span {
          border-color: transparent transparent transparent #b60b17;
          transition: .3s;
        }
      }
    }
  }
}
