/*
 * VIDEO POPUP
 */

section.popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  .video-container {
    height: auto;
    max-height: 80%;
    max-width: 80%;
    video {
      width: 100%;
      height: 100%;
    }
  }
  .close-popup {
    position: absolute;
    top: 30px;
    right: 30px;
    height: 36px;
    width: 36px;
    background: white;
    margin: 0;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    &::after,
    &::before {
      content: '';
      position: absolute;
      height: 2px;
      width: 16px;
      background-color: black;
      top: 17px;
    }
    &::after {
      transform: rotate(45deg);
    }
    &::before {
      transform: rotate(-45deg);
    }
    &:hover {
      transition: .3s;
      transform: rotate(90deg);
    }
  }
}
