<template>
  <main class="home">
    <div class="container">
      <aside class="navigation-toolbar">
        <Sorting/>
        <Filters/>
      </aside>
      <section class="nba-list row" v-masonry transition-duration="0.3s" item-selector=".nba-masonry-item" :key="(activeFilter.id + activeSort.id) * randomKey()">
        <NbaItem v-for="(item, i) in list" :item="item" :key="i" className="nba-masonry-item"/>
      </section>
    </div>
    <NbaVideo />
  </main>
</template>

<script>
  import Vue from 'vue'
  import NbaItem from '../components/home/HomeNbaItem'
  import NbaVideo from '../components/home/HomeVideoPopup'
  import Sorting from '../components/Sorting'
  import Filters from '../components/Filters'
  import {VueMasonryPlugin} from 'vue-masonry'

  Vue.use(VueMasonryPlugin)

  export default {
    name: 'home',
    components: { Filters, Sorting, NbaItem, NbaVideo },
    data() {
      return {
        keySection: this.randomKey()
      }
    },
    computed: {
      activeFilter() {
        return this.$store.getters['filters/getActiveData'](this.$store.state.filters.filterID)
      },
      activeSort() {
        return this.$store.getters['sorting/getActiveData'](this.$store.state.sorting.sortID)
      },
      list() {
        let list = this.$store.state.nba.list;

        if (this.activeFilter.type) {
          // this.keySection = this.randomKey()
          list = list.filter(item => item.type === this.activeFilter.type)
        }

        if (this.activeSort.type) {
          // this.keySection = this.randomKey()
          list = list.sort((a, b) => {
            if (this.activeSort.type === 'asc') {
              return a.id - b.id
            } else if (this.activeSort.type === 'desc') {
              return b.id - a.id
            }
          })
        }

        return list;
      }
    },
    methods: {
      randomKey() {
        return Math.floor(Math.random() * (99999));
      }
    }
  }
</script>
