<template>
    <section class="popup" v-if="isOpenPopup">
        <button class="close-popup" @click="closePopup()"></button>
        <div class="video-container" v-if="isOpenPopup && idItem">
            <video controls autoplay :key="data.id" v-if="data !== undefined">
                <source :src="data.src" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'>
            </video>
        </div>
    </section>
</template>

<script>
    import Mixins from '../../mixins'

    export default {
        name: "HomeVideoPopup",
        mixins: [Mixins],
        computed: {
            isOpenPopup() {
                return this.$store.state.popup.isOpen
            },
            idItem() {
                return this.$store.state.popup.idItem
            },
            data() {
                return this.$store.getters['nba/getItemById'](this.idItem)
            }
        },
        methods: {
            closePopup() {
                this.$store.dispatch('popup/closePopup').then(() => {
                    if (this.$route.query.video) {
                        // this.$router.replace({name: 'home', query: {}})
                        this.removeQueryByRoute('video')
                    }
                })
            }
        }
    }
</script>
