<template>
    <article v-masonry-tile :class="className" class="col-4">
        <div class="nba-item">
            <div class="image">
                <img :src="item.thumb" :alt="item.title" class="thumbnail">
                <div class="video" v-if="item.type === 2 && item.src !== ''" @click="openPopup(item.id)">
                    <div class="icon-play">
                        <span></span>
                    </div>
                </div>
            </div>
            <h6>{{item.title}}</h6>
            <p>{{item.date}}</p>
        </div>
    </article>
</template>

<script>
    import Mixins from '../../mixins'

    export default {
        name: "HomeNbaItem",
        mixins: [Mixins],
        props: ['item', 'className'],
        methods: {
            openPopup(id) {
                this.$store.dispatch('popup/openPopup', id).then(() => {
                    // this.$router.replace({name: 'home', query: {video: id}})
                    this.addQueryToRoute('video', id)
                });
            }
        }
    }
</script>
