<template>
    <section class="sorting" :class="{open: isOpen}">
        <div class="active" @click="isOpen = !isOpen"><span>Filter by: </span>{{activeItem.name}}</div>
        <ul>
            <li v-for="(item, i) in list" :key="i" :class="{active: item.id === activeItem.id}" @click="setActiveFilter(item.id, item.type)">
                {{item.name}}
            </li>
        </ul>
    </section>
</template>

<script>
    import Mixins from '../mixins'

    export default {
        name: "Filters",
        mixins: [Mixins],
        data() {
            return {
                isOpen: false
            }
        },
        computed: {
            activeItem() {
                return this.$store.getters['filters/getActiveData'](this.$store.state.filters.filterID)
            },
            list() {
                return this.$store.state.filters.list;
            }
        },
        methods: {
            setActiveFilter(id, type) {
                if (id !== this.activeItem.id) {
                    this.$store.commit('filters/setFilterID', id)
                    this.isOpen = !this.isOpen
                    if (type) {
                        this.addQueryToRoute('filter', id)
                    } else {
                        this.removeQueryByRoute('filter', id)
                    }
                }
            }
        }
    }
</script>
