<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App',
    created() {
      this.$store.dispatch('nba/setItems')

      if (this.$route.query.video) {
        this.$store.dispatch('popup/openPopup', Number(this.$route.query.video))
      }

      if (this.$route.query.sort) {
        this.$store.commit('sorting/setSortID', Number(this.$route.query.sort))
      }

      if (this.$route.query.filter) {
        this.$store.commit('filters/setFilterID', Number(this.$route.query.filter))
      }
    }
  }
</script>

<style lang="scss">
  @import "assets/scss/index.scss";
</style>
